/*
Theme Name: Template
Theme URI: http://www./
Description: Theme developed for 
Version: 1.0
Author: Aleksandar Cocek
Author URI: http://eemagine.me
Tags: html5, clean, basic
*/
@import url(http://reset5.googlecode.com/hg/reset.min.css);

/* Getting the new tags to behave */
article, aside, audio, canvas, command, datalist, details, embed, figcaption, figure, footer, header, hgroup, keygen, meter, nav, output, progress, section, source, video{ display: block; }
mark, rp, rt, ruby, summary, time{ display: inline }

@font-face {
	font-family: 'Lobster1.1Regular';
	src: url('../fonts/Lobster_1.1_-webfont.eot');
	src: local('☺'), url('../fonts/Lobster_1.1_-webfont.woff') format('woff'), url('../fonts/Lobster_1.1_-webfont.ttf') format('truetype'), url('../fonts/Lobster_1.1_-webfont.svg#webfont30G9S4nm') format('svg');
	font-weight: normal;
	font-style: normal; }
    
/* Site-wide properties ======================================================== */
body{
    font: normal normal 13px/18px Tahoma, Arial, Helvetica, Verdana, sans-serif; 
}

a{outline: none; text-decoration: none;}
a:hover{text-decoration: underline;}
    
    /* Fibonacci based heading scale ratio 
    h1{ font-size: 4.4em; font-weight: normal; }
    h2{ font-size: 2.8em; font-weight: bold; }
    h3{ font-size: 1.6em; font-weight: bold; }
    h4{ font-size: 1.2em; font-weight: bold; }*/

/* Reusable classes ============================================================ */

.clearfix:after{clear:both;content:'.';display:block;visibility:hidden;height:0}
.clearfix{display:inline-block;}
* html .clearfix{height:1%}
.clearfix{display:block;}

/* The inside class provides consistent padding. To be used often! */
.inside{ padding: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    width: 500px;
    height: 500px;
    margin-top: -250px;
    margin-left: -250px; }

/* For when a <br /> just ain't enough */
.separator{
    clear: both;
    float: left;
    height: 1px;
    width: 100%; }

/* Basic Structure ============================================================= */
#wrap{
    margin: 0 auto;
    position: relative;
    width: 960px; }

    
/* Project specifics =========================================================== */

